<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Indexing</title>
</head>
<body>

    <div class="container">

        <div class="row justify-content-md-center mt-5">
            
            <div class="col-md-auto">
                <form action="{% url 'medicine_sync_from_odoo' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary btn-sm" type="submit">Sync Data from Odoo</button>
                </form>
            </div>
            <div class="col-md-auto">
                <form action="{% url 'medicine_sync_to_odoo' %}" method="POST">
                    {% csrf_token %}
                    <button  class="btn btn-outline-primary btn-sm" type="submit">Sync Data to Odoo</button>
                </form>
            </div>
            
            <div class="col-md-auto"> 

                <a href="{% url 'medicine_index' %}" class="btn btn-outline-primary btn-sm">Show Medicines</a>
            </div>

            

        </div>
    </div>
</body>
</html>